.contact-btn:link{
    padding: 9px 32px !important;
    background-color: #3ec1d5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    border-radius: 12px;
    color: #000;
}

.contact-btn:hover{
    background-color: #538991;
}

@media(max-width: 1000px){
    .contact-btn:link{
        padding: 10px 20px !important;
        background: none;
        color: #0d2529;
        display: inline;
        margin-left: 0;
        border-radius: 0;
        border: none;
    }

    .contact-btn:hover{
        background-color: none;
    } 
}